body {
  color: #141a1f;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*header*/
.user {
  text-decoration: none;
  span {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    color: #141a1f;
  }
}

/*footer*/
.footer p {
  font-size: 14px;
  color: #667f99;
  margin-bottom: 0px;
}

/*職旅計畫*/
.plan-title {
  h4 {
    font-weight: 500;
  }
  .plan-title-small {
    color: #667f99;
  }
}

.text-black {
  color: #141a1f;
}
/*預約紀錄*/
.table {
  font-size: 14px;
}

