$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
    xxl: 1320px // 這裡可以改，比如你想要 1400px,
);

$spacers: (
  8: 8px,
  12: 12px, // ➝ 新增 my-12,
  16: 16px,
  24: 24px
);

.mr-4 {
  margin-right: 4px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-8 {
  margin-left: 8px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}