
.mr-4 {
  margin-right: 4px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.d-flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.d-block {
  display: block;
}