@media (max-width: 992px) {
  /*header*/
  .logo {
    width: 92px;
  }
  /*footer*/
  .footer-content .footer-text {
    flex-direction: column;
    padding: 24px 0px;
  }

  .footer-list {
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin-bottom: 8px;
    }
    a {
      padding: 8px 16px;
    }
  }

  /*career*/
  .row .plan .plan-card {
    padding: 24px;
  }

  .main-btn {
    font-size: 14px;
    .btn-gray {
      padding: 12px;
    }
    .btn-white {
      padding: 12px;
    }
  }

  .container .main-btn {
    padding-top: 48px;
    padding-bottom: 16px;
  }

  /*member*/
  .plan .plan-card .plan-title {
    margin-bottom: 16px;
    width: 100%;
    h4 {
      font-size: 20px;
    }
  }

  .plan .plan-card .plan-content {
    width: 100%;
  }

  /*reserve*/
  .plan-card .reserve-card {
    width: 100%;
    padding: 16px 0px;
    .t-number {
      font-size: 28px;
    }
  }

  /*index*/
  /*第3張*/
  .why.fw-bold {
    font-size: 18px;
  }
}

/*中斷點*/
@media (min-width: 992px) {
  /*index*/
  .display-6.display-lg-1 {
    font-size: 80px;
  }

  .display-6.display-lg-5 {
    font-size: 48px;
  }
  /*第2張*/
  .mt-n152.mt-lg-n12 {
    margin-top: -80px;
  }

  /*privacy*/
  .fs-lg-2.fs-3 {
    font-size: 32px !important;
  }

  .fs-lg-7.fs-8 {
    font-size: 16px !important;
  }

  .fs-lg-5.fs-6 {
    font-size: 20px !important;
  }
}


@media (max-width: 1024px) {
  /*login*/
  .col-lg-5.login-py {
    padding-right: 36px;
  }
  .col-lg-5.register-py {
    padding-left: 36px;
  }

  /*service*/
  .bg-dot.text-center {
    background-image: url(/assets/images/service/banner-bg.png);
    background-size: 50% auto; /* 改這裡 */
    background-repeat: repeat; /* 避免重複 */
  }
}
