<div class="footer-content">
  <div class="container">
    <div class="footer-text">
      <ul class="footer-list">
        <li><a href="service.html">服務方案</a></li>
        <li><a href="about.html">關於職旅</a></li>
        <li><a href="contact.html">聯絡我們</a></li>
        <li><a href="privacy.html">隱私權政策</a></li>
        <li><a href="agreement.html">用戶條款</a></li>
      </ul>
      <p>Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
  </div>
</div>
