<div class="footer-content">
  <div class="container">
    <div class="footer-text">
      <ul class="footer-list">
        <li><a href="#">服務方案</a></li>
        <li><a href="#">關於職旅</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">用戶條款</a></li>
      </ul>
      <p>Copyright © 2025 職旅 workway. All rights reserved.</p>
    </div>
  </div>
</div>
