<div class="header-background">
  <div class="container">
    <div class="header">
      <div class="logo">
        <img src="/assets/images/logo.svg" alt="logo" />
      </div>
      <ul class="header-content">
        <li><a href="#">服務方案</a></li>
        <li class="my-12"><a href="#">關於職旅</a></li>
        <li><a href="#">聯絡我們</a></li>
      </ul>
      <a href="member.html" class="user">
        <img src="/assets/images/avatar.png" alt="user" />
        <span>Mokumaru</span>
      </a>
    </div>
  </div>
</div>
