.footer-content {
  background-color: #F0F3F5;
  border-top: 1px solid #D1D9E1;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0px;
}

.footer-list{
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  a {
    display: block;
    padding: 8px 24px;
    text-decoration: none;
    color: #141A1F;
  }
} 