.header-background {
  color: #FCFCFD;
  border-bottom: 1px solid #D1D9E1;
}

.user {
  display: flex;
  align-items: center;
  img {
    max-width: 44px;
    border: 1px solid #d1d9e1;
    border-radius: 100px;
  }

  span {
    margin-left: 8px;
  }
}

/*login*/
.radius-ltb-16 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.radius-rtb-16 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.close-position {
  top: 24px;
  right: 36px;
}

.login-h770 {
  height: 770px;
}

.login-py {
  padding-left: 36px;
  padding-right: 60px;
}

.register-py {
  padding-left: 60px;
  padding-right: 36px;
}

.register-img {
  display: block;     /* 去掉底部空白 */
  width: 100%;        /* 撐滿整個 col-7 */
  height: 100%;      /* 跟 .login-h770 一樣高 */
  object-fit: cover;  /* 圖片裁切填滿 */
}