.banner-person-work {
  top: 68%;
  left: 69%;
}

.about-card {
  width: 344px;
  height: 576px;
}

.px-200 {
  padding: 0px 200px;
}

.w-120 {
  width: 120px;
}

.h-280 {
  height: 280px;
}

.mt-n280 {
  margin-top: -280px;
}