.gray-background {
  background-color: $Natural-95;
}

.main-btn {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 24px;
  a {
    color: $Natural-10;
    text-decoration: none;
  }
}

.btn-white {
  background-color: $white;
  border: 1px solid $Natural-85;
  border-radius: 16px;
  padding: 12px 20px;
}

.btn-gray {
  background-color: $Natural-90;
  border: 1px solid $Natural-85;
  border-radius: 16px;
  padding: 12px 20px;
}

.btn-black {
  color: white;
  background-color: $Natural-10;
  border-radius: 16px;
  padding: 12px 20px;
}

.plan {
  background-color: $white;
  border-radius: 24px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  .plan-card {
    margin-left: -12px;
    margin-right: -12px;
    margin: 48px 48px 0px 48px;
    padding-bottom: 48px;
    display: block;
    justify-content: space-between;
  }
  .bb-gray {
    border-bottom: 1px solid $Natural-85;
  }
  .plan-title {
    width: 30%;
  }
  .plan-content {
    width: 70%;
  }
}

//將textarea文字換行不要變成...
.form-floating > label {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  display: block;
  line-height: 1.2;
  padding-top: 1rem;
}

.work {
  border: 1px solid $Natural-85;
  border-radius: 8px;
  .d-work{
    display: flex;
    justify-content: space-between;
  }
}

.dropdown-toggle::after {
  display: none; /* 移除預設箭頭 */
}

.form-control {
  background-color: $white;
}

.textarea-h {
  min-height: 160px !important;
  width: 100%;
}