.gradient-ball {
  background: url(/assets/images/index/gradient-ball.png);
  background-position: center center;
  background-repeat: no-repeat; /* 不重複 */
  background-size: contain;
}
.index-container {
  padding-left: 12px;
  padding-right: 12px;
}

.card-mark {
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  top: 12px;
  left: 12px;
}

.mt-n12 {
  margin-top: -80px;
}

.h-200 {
  height: 200px;
}

.why {
  display: inline-block;
  color: $primary;
  background-color: white;
  border: 2px solid $primary;
  padding: 12px 18px;
  border-radius: 12px;
  .why-arrow {
    position: absolute;
    background-color: white;
    border: 2px solid $primary;
    width: 28px;
    height: 28px;
    transform: rotate(-45deg);
    left: 41%;
    border-top: 0;
    border-right: 0;
  }
}

.workWay-mark {
  position: absolute;
  background-color: $Natural-95;
  color: $Natural-50;
  border-top-right-radius: 12px;
  left: 0;
  bottom: 0;
  z-index: 1;
  .material-symbols-outlined {
    color: $primary;
  }
}

.adv-vectors {
  width: 196px;
  top: -160px;
}

.gradient-ball-small {
  background: url(/assets/images/index/gradient-ball.png);
  background-size: 48%;
  background-repeat: no-repeat;
  background-position: 125% -50%;
}

.bg-natural-95 {
  background-color: $Natural-95;
}