.head {
    position: relative;
    display: block;
}
.head-img {
    border: 1px solid #D1D9E1;
    border-radius: 100px;
    width: 120px;
}

.upload-btn {
    position: absolute;
    width: 129px;
    bottom: 0;      /* 貼到底部 */
    cursor: pointer;
}

.t-gray {
    color: #667F99;
}

.custom-modal-body {
    padding: 24px;
}

.custom-modal-footer {
    padding: 16px 24px;
}