.bg-dot {
  background-image: url(/assets/images/service/banner-bg-pc.png);
  background-size: cover; /* 改這裡 */
  background-position: center center;
  background-repeat: no-repeat; /* 避免重複 */
}

.banner-person {
  top: 65%;
  left: 68.75%;
}

.hot {
  background-color: $secondary;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 8px 16px;
  top: 0;
  left: 0;
}

.h-332 {
  height: 332px;
}

.mt-n332 {
  margin-top: -332px;
}

.subscribe {
  background-image: url(/assets/images/service/subscribe-3.svg);
  background-size: 80;
  background-position: 256px 0px;
  background-repeat: no-repeat;
  background-color: $secondary-90;
  max-width: 856px;
  margin: 0 auto;
} 
.subscribe-l-img {
  left: 24px;
}
.subscribe-r-img {
  right: 24px;
}