.reserve-card {
  border: 1px solid $Natural-85;
  border-radius: 24px;
  width: calc(33.3333% - 12px);
  text-align: center;
  padding: 24px 0px;

  .t-number {
    color: $primary;
    font-size: 32px;
    line-height: 1.2;
  }
  .t-content {
    color: $Natural-50;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0px;
  }
}

.table-t {
  color: $Natural-50;
}

.RWD-reserve {
  padding: 10px 8px;
}

.bg-natural {
  background-color: $Natural-90;
}

.bg-table-white {
  background-color: white !important;
}