<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>關於職旅</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/headerLogin'); -%>
    <!--關於職旅-->
    <div class="bg-dot text-center py-md-12 py-9 position-relative">
      <div class="container">
        <h1 class="fw-bold display-5 mb-md-9 mb-6">關於職旅</h1>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <p class="t-gray fs-md-6 fs-7 mb-0">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。</p>
            <p class="t-gray fs-md-6 fs-7 mb-0">無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
          </div>
        </div>
        <div class="d-lg-block d-none">
          <img src="/assets/images/service/banner-person.svg" class="banner-person-work position-absolute" alt="banner-person">
        </div>
      </div>
    </div>
    <!--精實的職旅夥伴-->
    <div class="text-center py-12">
      <h2 class="fw-bold fs-md-2 fs-3 mb-md-4 mb-7">精實的職旅夥伴</h2>
      <p class="t-gray fs-md-6 fs-7 mb-9">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。</p>
      <div class="container">
        <div class="row d-flex flex-nowrap mb-9">
          <div class="about-card">
            <div class="card h-100 border-0 shadow">
              <img src="/assets/images/about/mentor-1.png" class="card-img-top" alt="mentor-1">
              <div class="card-body text-start">
                <p class="t-gray fw-medium mb-2">數位遊牧先驅</p>
                <h5 class="fs-4 mb-4">陳志遠 Ethan Chen</h5>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 遠端工作策略</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 數位遊牧生活設計</span>
              </div>
            </div>
          </div>
          <div class="about-card">
            <div class="card h-100 border-0 shadow">
              <img src="/assets/images/about/mentor-2.png" class="card-img-top" alt="mentor-2">
              <div class="card-body text-start">
                <p class="t-gray mb-2">個人品牌策略專家</p>
                <h5 class="fs-4 fw-medium mb-4">林曉彤 Clara Lin</h5>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 個人品牌建立</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 內容行銷策略</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 故事行銷</span>
              </div>
            </div>
          </div>
          <div class="about-card">
            <div class="card h-100 border-0 shadow">
              <img src="/assets/images/about/mentor-3.png" class="card-img-top" alt="mentor-3">
              <div class="card-body text-start">
                <p class="t-gray fw-medium mb-2">財務自由規劃顧問</p>
                <h5 class="fs-4 mb-4">王建明 Marcus</h5>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 稅務優化</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 被動收入建立</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 現金流管理</span>
              </div>
            </div>
          </div>
          <div class="about-card">
            <div class="card h-100 border-0 shadow">
              <img src="/assets/images/about/mentor-4.png" class="card-img-top" alt="mentor-4">
              <div class="card-body text-start">
                <p class="t-gray fw-medium mb-2">創意接案與多元收入專家</p>
                <h5 class="fs-4 mb-4">張雅琳 Ariel</h5>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 創意變現策略</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 線上課程開發</span>
              </div>
            </div>
          </div>
          <div class="about-card">
            <div class="card h-100 border-0 shadow">
              <img src="/assets/images/about/mentor-5.png" class="card-img-top" alt="mentor-5">
              <div class="card-body text-start">
                <p class="t-gray fw-medium mb-2">遠端工作技術顧問</p>
                <h5 class="fs-4 mb-4">李俊宏 Kevin Lee</h5>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 專案管理自動化</span>
                <span class="badge rounded-pill border bg-white t-gray fs-8 fw-normal"># 虛擬團隊管理</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="bg-primary rounded-5 py-6 px-9">
          <span class="why fw-bold mb-9">
          團隊承諾
          <div class="why-arrow"></div>
          </span>
          <p class="text-white fw-normal px-200 mb-9">我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。</p>
          <img src="/assets/images/about/text-pc.svg" class="mb-6" alt="text-pc">
        </div>
      </div>
    </div>
    <!--公司資訊-->
    <div class="gray-background py-12">
      <div class="container text-center">
        <h2 class="fw-bold fs-md-2 fs-3 mb-md-9 mb-6">公司資訊</h2>
        <div class="bg-white rounded-5 p-9 shadow position-relative z-1">
          <table class="table table-white mb-9">
            <tbody class="text-start">
              <tr>
                <th scope="row" class="w-120 t-gray p-6">公司位置</th>
                <td class="fw-medium py-6 px-0">110台北市信義區信義路五段7號</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">負責人</th>
                <td class="fw-medium py-6 px-0">張世明</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">聯絡專線</th>
                <td class="fw-medium py-6 px-0">02-2758-6600</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">營業時間</th>
                <td class="fw-medium py-6 px-0">週一至週五 10:00～18:00（國定假日休息）</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">電子郵件</th>
                <td class="fw-medium py-6 px-0">contact@workway.tw</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">成立時間</th>
                <td class="fw-medium py-6 px-0">2023 年 6 月</td>
              </tr>
              <tr>
                <th scope="row" class="w-120 t-gray p-6">統一編號</th>
                <td class="fw-medium py-6 px-0">83149276</td>
              </tr>
            </tbody>
          </table>
          <img src="/assets/images/about/map.png" class="img-fluid" alt="map">
        </div>
      </div>
    </div>
    <div class="bg-white h-280 mt-n280 z-0"></div>

    <div class="bg-white">
      <div class="container py-8">
        <div class="bg-primary rounded-5">
          <div class="py-lg-6 py-4 px-lg-9 px-6">
            <img src="/assets/images/logo-icon-w.svg" class="mb-6" alt="logo-icon-w">
            <h2 class="text-white fw-bold mb-3">邁向你真正想過的生活，從這裡開始</h2>
            <p class="text-white fs-6 fw-normal pb-6 mb-lg-6 mb-4 accordion-button">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
            <div class="d-lg-flex d-block justify-content-between">
              <div class="d-lg-block d-flex flex-column justify-content-start mb-lg-5 mb-6">
                <span class="text-white fs-5 d-inline-flex align-items-center me-6 mb-lg-0 mb-4"><span class="material-symbols-outlined me-2">call</span>0800-123-123</span>
                <span class="text-white fs-5 d-inline-flex align-items-center"><span class="material-symbols-outlined me-2">mail</span>Sample@mail.com</span>
              </div>
              <button type="button" class="d-inline-flex align-items-center justify-content-center bg-black text-white fs-8 rounded-4 py-lg-3 pe-lg-3 ps-lg-5 p-3">
                預約免費職涯探索
                <span class="material-symbols-outlined ms-0">chevron_right</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>