<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>個人資料</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="gray-background">
      <div class="container px-6">
        <div class="main-btn">
          <button onclick="window.location.href='member.html'" class="btn-gray d-inline-flex align-items-center">
            <span class="material-symbols-outlined me-1">face</span>個人資料
          </button>
          <button onclick="window.location.href='reserve.html'" class="btn-white d-inline-flex align-items-center mx-4 mx-lg-6">
            <span class="material-symbols-outlined me-1">pending_actions</span>預約紀錄
          </button>
          <button onclick="window.location.href='index.html'" class="btn-white d-inline-flex align-items-center">
            <span class="material-symbols-outlined me-1">list_alt</span>職旅計劃
          </button>
        </div>
        <div class="row">
          <div class="col-12 col-lg-10 plan mb-lg-12 mb-9">
            <div class="plan-card d-lg-flex">
              <div class="plan-title">
                <h4>個人資料</h4>
              </div>
              <div class="plan-content">
                <div class="head mb-6">
                  <img src="/assets/images/avatar.png" class="head-img" alt="user">
                  <input type="file" id="customFile" hidden />
                  <label for="customFile" class="btn-white upload-btn ms-4">
                  <i class="bi bi-arrow-bar-up me-1"></i>更新頭貼</label>
                </div>
                <div class="mb-4 mb-lg-6">
                  <form class="form-floating">
                    <input type="name" class="form-control" id="sex" placeholder="name" value="Mokumaru">
                    <label for="sex">姓名</label>
                  </form>
                </div>
                <div class="job mb-4 mb-lg-6">
                  <p class="mb-2">性別</p>
                  <input type="radio" name="sex" id="btnsex1" class="ms-2">
                  <label for="btnsex1" class="me-6">女性</label>
                  <input type="radio" name="sex" id="btnsex2">
                  <label for="btnsex2" class="me-6">男性</label>
                  <input type="radio" name="sex" id="btnsex3">
                  <label for="btnsex3" class="me-6">不願透露</label>
                </div>
                <div class="mb-4 mb-lg-6">
                  <form class="form-floating">
                    <input type="date" class="form-control" id="birthday" placeholder="請輸入生日" value="2000-01-10">
                    <label for="birthday">生日</label>
                  </form>
                </div>
                <div class="mb-4 mb-lg-6">
                  <p class="mb-2">密碼</p>
                  <button type="button" class="btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal">修改密碼<i class="bi bi-chevron-right ml-4"></i></button>
                </div>
                <div class="mb-4 mb-lg-6">
                  <form class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="請輸入信箱" value="mokumaru@mail.com">
                    <label for="email">信箱</label>
                  </form>
                  <small class="ms-2 t-gray d-inline-block">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</small>
                </div>
                <div class="mb-4 mb-lg-6">
                  <form class="form-floating">
                    <input type="tel" class="form-control" id="tel" placeholder="請輸入電話" value="09-1234-5678">
                    <label for="tel">聯絡電話</label>
                  </form>
                </div>
                <div class="mb-4 mb-lg-6">
                  <form class="form-floating">
                    <input type="address" class="form-control" id="address" placeholder="請輸入地址" value="高雄市三民區九如一路 87 號">
                    <label for="address">通訊地址</label>
                  </form>
                </div>
              </div>
            </div>
            <div class="text-center mb-lg-9 d-flex flex-column-reverse d-lg-block p-lg-0 px-3 py-6">
              <button type="button" class="btn-white me-lg-6">重新填寫<i class="bi bi-chevron-right ms-1"></i></button>
              <button type="button" class="btn-black mb-lg-0 mb-4">儲存更新<i class="bi bi-chevron-right ms-1"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

<!-- 修改密碼的Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">更新密碼</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body">
        <div class="mb-6">
          <form class="form-floating">
            <input type="password" class="form-control" id="password1" placeholder="請輸入新密碼">
            <label for="passw ord1">新密碼</label>
          </form>
        </div>
        <div class="mb-6">
          <form class="form-floating">
            <input type="password" class="form-control" id="password2" placeholder="請輸入新密碼">
            <label for="password2">再次密碼</label>
          </form>
        </div>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn-black">更新密碼<i class="bi bi-chevron-right ms-1"></i></button>
      </div>
    </div>
  </div>
</div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
