<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>個人資料</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="gray-background">
      <div class="container px-6">
        <div class="main-btn">
          <button onclick="window.location.href='member.html'" class="btn-white d-inline-flex align-items-center">
            <span class="material-symbols-outlined me-1">face</span>個人資料
          </button>
          <button onclick="window.location.href='reserve.html'" class="btn-gray d-inline-flex align-items-center mx-4 mx-lg-6">
            <span class="material-symbols-outlined me-1">pending_actions</span>預約紀錄
          </button>
          <button onclick="window.location.href='index.html'" class="btn-white d-inline-flex align-items-center">
            <span class="material-symbols-outlined me-1">list_alt</span>職旅計劃
          </button>
        </div>
        <div class="row">
          <div class="col-10 plan mb-12">
            <div class="plan-card d-block">
            <h4 class="mb-6">預約紀錄</h4>
            <div class="mb-9 d-flex flex-between">
              <div class="reserve-card">
                <p class="t-number mb-2">3</p>
                <p class="t-content">已完成諮詢</p>
              </div>
              <div class="reserve-card">
                <p class="t-number mb-2">2025/10/10</p>
                <p class="t-content">即將到來</p>
              </div>
              <div class="reserve-card">
                <p class="t-number mb-2">3/6</p>
                <p class="t-content">使用方案進度</p>
              </div>
            </div>
            <div class="d-flex flex-between mb-6">
              <div>
                <button type="button" class="btn-black">全部預約</button>
                <button type="button" class="btn-white mx-2">已完成</button>
                <button type="button" class="btn-white">已取消</button>
              </div>
              <div class="dropdown">
                <button class="btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  排序<i class="bi bi-filter ms-1"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">新到舊</a></li>
                  <li><a class="dropdown-item" href="#">舊到新</a></li>
                </ul>
              </div>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">諮詢方案</th>
                  <th scope="col">預約日期</th>
                  <th scope="col">諮詢時長</th>
                  <th scope="col">諮詢方式</th>
                  <th scope="col">上課狀態</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 6/6堂</th>
                  <td>2025/11/11</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">視訊</span></td>
                  <td>等待上課</td>
                </tr>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 5/6堂</th>
                  <td>2025/10/10</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">視訊</span></td>
                  <td>等待上課</td>
                </tr>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 4/6堂</th>
                  <td>2025/09/09</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">視訊</span></td>
                  <td>已完成</td>
                </tr>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 3/6堂</th>
                  <td>2025/08/08</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">面對面</span></td>
                  <td>已完成</td>
                </tr>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 2/6堂</th>
                  <td>2025/07/07</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">面對面</span></td>
                  <td>已完成</td>
                </tr>
                <tr>
                  <th scope="row">職涯定位-職涯探索包 | 1/6堂</th>
                  <td>2025/06/06</td>
                  <td>60分鐘</td>
                  <td><span class="badge rounded-pill bg-secondary">面對面</span></td>
                  <td>已完成</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
